@page "/Medications"

<h3>Medications</h3>

@if(MedicationDash == null)
{
    
}
else
{
<DxDataGrid Data="@MedicationDash.MedicationFullDetails"
            ShowFilterRow="true"
            RowUpdatingAsync="@((updatingDataItem, newValues) => MedicationDash.OnRowUpdating(updatingDataItem, (Dictionary<string,object>)newValues))"
            RowInsertingAsync="@((newValues) => MedicationDash.OnRowInserting((Dictionary<string,object>)newValues))"
            InitNewRow="OnInitNewRow"
            ShowPager="true"
            PagerPageSizeSelectorVisible="true"
            PagerAllDataRowsItemVisible="true"
            PagerAllowedPageSizes=@(new int[] {2,10,20,40})
            PagerNavigationMode=PagerNavigationMode.InputBox
            CssClass="mw-1100">

    <DxDataGridCommandColumn Width="150px" />
    <DxDataGridColumn AllowFilter="true" Field="@nameof(MedicationFullDetail.Name)"/>
    <DxDataGridSpinEditColumn Field="@nameof(MedicationFullDetail.Dosage)" Width="100px" />
   <DxDataGridComboBoxColumn Data="@MedicationDash._dosageUnit" Field="@nameof(MedicationFullDetail.DosageUnit)" Width="150px">
        <EditTemplate>
            @{
                var editingContext = (CellEditContext)context;
                var unit = Enum.GetName(typeof(DosageUnit),(editingContext.GetEditorValue(nameof(MedicationFullDetail.DosageUnit))));
             }            
            <DxComboBox Data="@MedicationDash._dosageUnit"
                        NullText ="Select DosageUnit"
                        Value="@unit"
                        ValueChanged="((string newCellValue) => {
                                    editingContext.OnChanged((Enum.Parse(typeof(DosageUnit),newCellValue)));
                                })">                
            </DxComboBox>
        </EditTemplate>
    </DxDataGridComboBoxColumn>  
    <DxDataGridSpinEditColumn Field="@nameof(MedicationFullDetail.Quantity)" Width="100px" />
          <DxDataGridSpinEditColumn Field="@nameof(MedicationFullDetail.FrequencyUnit)" Width="100px" />
    <DxDataGridComboBoxColumn Data="@MedicationDash._frequency" Field="@nameof(MedicationFullDetail.Frequency)" Width="150px">
        <EditTemplate>
            @{
                var editingContext = (CellEditContext)context;
                var unit = Enum.GetName(typeof(Frequency),(editingContext.GetEditorValue(nameof(MedicationFullDetail.Frequency))));
             }            
            <DxComboBox Data="@MedicationDash._frequency"
                        NullText ="Select Frequency"
                        Value="@unit"
                        ValueChanged="((string newCellValue) => {
                                    editingContext.OnChanged((Enum.Parse(typeof(Frequency),newCellValue)));
                                })">                
            </DxComboBox>
        </EditTemplate>
    </DxDataGridComboBoxColumn>  
    <DxDataGridColumn  Field="@nameof(MedicationFullDetail.MedicineDetails.UseDirections)" >
        <EditTemplate>
            @{
                var editingContext = (CellEditContext)context;
                    var value = (MedicationFullDetail)editingContext.DataItem;
                   
            }
            <DxTextBox Text="@value.MedicineDetails.UseDirections" TextChanged="(newCellValue) =>
                        {editingContext.OnChanged(newCellValue);
                    }">
                        
                </DxTextBox>
           

        </EditTemplate>
        <DisplayTemplate>
			@{
                var value = context as MedicationFullDetail;
                <span>@value.MedicineDetails.UseDirections</span>
            }
        </DisplayTemplate>
    </DxDataGridColumn>
</DxDataGrid>
}


