@page "/Medicines"

<h3>Medicines</h3>

<DxDataGrid Data="@Medicines"
            ShowFilterRow="true"
            RowRemovingAsync="@((dataItem) => OnRowRemoving(dataItem))"
            RowUpdatingAsync="@((updatingDataItem, newValues) => OnRowUpdating(updatingDataItem, (Dictionary<string,object>)newValues))"
            RowInsertingAsync="@((newValues) => OnRowInserting((Dictionary<string,object>)newValues))"
            InitNewRow="@OnInitNewRow"
            ShowPager="true"
            PagerPageSizeSelectorVisible="true"
            PagerAllDataRowsItemVisible="true"
            PagerAllowedPageSizes=@(new int[] {2,10,20,40})
            PagerNavigationMode=PagerNavigationMode.InputBox
            CssClass="mw-1100">

    <DxDataGridCommandColumn Width="150px" />
    <DxDataGridColumn AllowFilter="true" Field="@nameof(Medicine.Name)"/>
    <DxDataGridSpinEditColumn Field="@nameof(Medicine.Dosage)" Width="100px" />
    <DxDataGridComboBoxColumn Data="@DosageUnits" Field="@nameof(Medicine.DosageUnit)" Width="150px">
        <EditTemplate>
            @{
                var editingContext = (CellEditContext)context;
                var unit = Enum.GetName(typeof(DosageUnit),(editingContext.GetEditorValue(nameof(Medicine.DosageUnit))));
             }            
            <DxComboBox Data="@DosageUnits"
                        NullText ="Select a Dosage Unit"
                        Value="@unit"
                        ValueChanged="((string newCellValue) => {
                                    editingContext.OnChanged((Enum.Parse(typeof(DosageUnit),newCellValue)));
                                })">                
            </DxComboBox>
        </EditTemplate>
    </DxDataGridComboBoxColumn>   
    <DxDataGridColumn Field="@nameof(Medicine.Description)" />
    <DxDataGridColumn Field="@nameof(Medicine.UseDirections)" />
</DxDataGrid>