@*page "/prescriptions"


<h3>Prescriptions </h3>


<DxDataGrid Data="@Prescriptions"
            RowRemovingAsync="@((dataItem) => OnRowRemoving(dataItem))"
            RowUpdatingAsync="@((updatingDataItem, newValues) => OnRowUpdating(updatingDataItem,(Dictionary<string,object>) newValues))"
            RowInsertingAsync="@((newValues) => OnRowInserting((Dictionary<string,object>)newValues))"
            CssClass="mw-1100"
            SelectionMode="DataGridSelectionMode.None"
            AutoCollapseDetailRow="true"
            ShowDetailRow="true">

    <DxDataGridCommandColumn Width="150px"></DxDataGridCommandColumn>
    <DxDataGridDateEditColumn Field="@nameof(Prescription.CollectedOn)"  Caption="Collected On" />
     
      
   
</DxDataGrid>*@
