@page "/prescriptions"

<h3>Prescriptions </h3>
<DxDataGrid Data="@Prescriptions"
            RowRemoving="@((dataItem) => OnRowRemoving(dataItem))"
            RowUpdating="@((updatingDataItem, newValues) => OnRowUpdating(updatingDataItem, newValues))"
            RowInserting="@((newValues) => OnRowInserting(newValues))"
            CssClass="mw-1100"
            SelectionMode="DataGridSelectionMode.None">

    <DxDataGridCommandColumn Width="150px"></DxDataGridCommandColumn>
       <DxDataGridDateEditColumn Field="@nameof(Prescription.CollectedOn)"  Caption="Collected On" />
     
      
   
</DxDataGrid>