@page "/prescriptions"

<h3>Prescriptions </h3>
<DxDataGrid Data="@Prescriptions"
            RowRemoving="@((dataItem) => OnRowRemoving(dataItem))"
            RowUpdating="@((updatingDataItem, newValues) => OnRowUpdating(updatingDataItem, newValues))"
            RowInserting="@((newValues) => OnRowInserting(newValues))"
            CssClass="mw-1100">

    <DxDataGridCommandColumn Width="150px"></DxDataGridCommandColumn>
       <DxDataGridColumn Field="@nameof(selectedPrescription.CollectedOn)"  Caption="Prescription Date">
            <EditTemplate>
                <DxCalendar 
                @bind-SelectedDate="@selectedPrescription.CollectedOn" 
                VisibleDate ="@selectedPrescription.CollectedOn"/>
        <DxListBox  
        Data="@Medicines"
        @bind-Values="@Values"
        TextFieldName="@nameof(Medicine.Name)">    
</DxListBox>
</EditTemplate>
       </DxDataGridColumn>
    <DxDataGridColumn EditorVisible="false" Field="@nameof(selectedPrescription.PrescriptionItems)" Caption="Item Count" Width="150px">
        <DisplayTemplate>
            @{
                @selectedPrescription.PrescriptionItems.Count(); 
            }
        </DisplayTemplate>        
    </DxDataGridColumn>  
</DxDataGrid>